@import "~bootstrap/scss/bootstrap";

body {
  background-color: lightgray;
}

.auth-img {
  padding: 20px;
  border-radius: 20px;
  display: inline-block;
  border: none;
}

.cards-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.each-card {
  margin: 10px;
  border: solid 1px dfe1e5;
  background-color: ghostwhite;
}

.image-movie {
  padding-top: 0 !important;
}

.gen-N-rating {
  padding-top: 10;
  padding-bottom: 20px;
}

.hide {
  display: none;
}

.rating {
  border: 1px solid;
  border-radius: 2px;
  box-sizing: border-box;
  display: inline-block;
  font-size: 11px;
  line-height: 11px;
  margin: 2px 5px 2px 0;
  max-height: 14px;
  padding: 1px 3px 0;
  transform: translateY(-1px);
}

